<div class="navbar navbar-inner center">
<h1> Add Experiences </h1>
</div>
<div id="container">
    <%= link_to "Add School", "school", {:class=>"btn btn-large center"}%>
  <div class="clearfix"></div>
    <%= link_to "Add Jobs", "jobs", {:class=>"btn btn-large center"}%>
  <div class="clearfix"></div>
    <%= link_to "Add Other", "other", {:class=>"btn btn-large center"}%>
  <div class="clearfix"></div>
    <%= link_to "Done", finish_index_path, {:class=>"btn btn-large center"}%>
</div>
